@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.header {
  margin-top: -10px;
}

.header2 {
  margin-top: -32px;
}

.black {
  margin-top: 10px;
}

.AHH {
  margin-top: -44px;
  margin-left: 60px;
  color: white;
}

.logoH {
  margin-top: -52px;
  margin-left: 15px;
}
.footer {
  background-image: url("/images/black.png");
  background-size: cover;
  background-position: center;
  position: relative;
  border-top-right-radius:50% 100%;
  border-top-left-radius:-20%;
  margin-right: -20px;

}

.footerContent {
  color: white;
  margin-top: 60px;
}
.visa{
  margin-top: -35px;
  margin-bottom: 15px;

}

.verified {
  margin-left: 130px;
  margin-top: -100px;
  margin-bottom: -40px;
  
}

.blue {
    margin-top: -103px;
    margin-left: -700px;
    width: 450px;
    transform: rotate(255deg);
    transform-origin: top right;
    z-index: 9999;
  }

   .blue1 {
    margin-top: 38px;
    margin-left: -700px;
    width: 450px;
    transform: rotate(255deg);
    transform-origin: top right;
    z-index: 9999;
  }


  .blue2 {
    margin-top: 200px;
    margin-left: 1300px;
    width: 450px;
    transform: rotate(420deg);
    transform-origin: top right;
    z-index: 9999;
  }

  

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}

.Intro {
  display: flex;
  font-size: 100px;
  font-weight: 850;
  color: #1e2a32;
  margin-top: -200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -60px;
  justify-content: center;
  text-align: center;
}


.AH {
  display: flex;
  font-size: 100px;
  font-weight: 850;
  color: #1e2a32;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
  justify-content: center;
  text-align: center;
}


.Transforming {
  
  line-height: 1.5;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  max-width: 900px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  

}


.headingHw {
  display: flex;
  font-size: 60px;
  font-weight: 850;
  color: #1e2a32;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
  justify-content: center;
  text-align: center;
}


.headingHw2 {
  line-height: 1.5;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  max-width: 1000px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 80px;

}

.imageContainer {
  display: flex;
  justify-content: center;
}

.imageWrapper {
  margin-right: 10px; 
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); 
  padding: 1px; 
  margin-bottom: 50px;
}

.AU {
  display: flex;
  font-size: 60px;
  font-weight: 850;
  color: #1e2a32;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
  justify-content: center;
  text-align: center;
}


.AU2 {
  line-height: 1.5;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  max-width: 1000px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;

}


  .OM {
    display: flex;
    font-size: 60px;
    font-weight: 850;
    color: #1e2a32;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -40px;
    justify-content: center;
    text-align: center;
  }


  .OM2 {
    line-height: 1.5;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: -400px;
  
  
  }


  .buttonsContainer {
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    z-index: 999;
  }
  

  .scrollButton1 {
    position: fixed;
    top: 20px;
    right: 325px;
    padding: 10px 20px;
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .scrollButton2 {
    position: fixed;
    top: 20px;
    right: 210px;
    padding: 10px 20px;
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .scrollButton3 {
    position: fixed;
    top: 20px;
    right: 125px;
    padding: 10px 20px;
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .scrollButton4 {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  

  .RH {
    display: flex;
    font-size: 60px;
    font-weight: 850;
    color: #1e2a32;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -70px;
    justify-content: center;
    text-align: center;
  
  }

  .blog {
    display: flex;
    font-size: 60px;
    font-weight: 850;
    color: #1e2a32;
    margin-top: -10px;
    margin-bottom: -40px;
    justify-content: left;
    margin-left: 60px;
  }

  .blogh {
    line-height: 1.5;
    font-size: 20px;
    font-weight: 500;
    max-width: 1000px; 
    margin-left: 60px;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: -30px;
  }


  
  .imageRow2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px; 
  }
  
  .imageColumn2 {
    flex: 1;
    max-width: 60%;
    padding: 50px;
  }
  
  .imageWrapper2 {
    text-align: center;
    margin-right: 30px; 
    box-shadow: 0 0 4px gray; 
    padding: 1px; 
    margin-bottom: -140px;
    justify-content: center;
  }
  
  .S {
    line-height: 1.1;
    text-align: left;
    font-size: 19px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
  
  }

  .S1 {
    min-height: 120px;
    max-height: 100px;
    line-height: 1.4;
    text-align: left;
    font-size: 17px;
    max-width: 400px;
    font-weight: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
  
  }
  .S2 {
    min-height: 120px;
    max-height: 100px;
    line-height: 1.4;
    text-align: left;
    font-size: 18px;
    max-width: 400px;
    font-weight: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
  
  }
  .S3 {
    min-height: 120px;
    max-height: 100px;
    line-height: 1.4;
    text-align: left;
    font-size: 18px;
    max-width: 400px;
    font-weight: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
  
  }
  .S4 {
    min-height: 120px;
    max-height: 100px;
    line-height: 1.4;
    text-align: left;
    font-size: 18px;
    max-width: 400px;
    font-weight: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
  
  }
  .S5 {
    min-height: 120px;
    max-height: 100px;
    line-height: 1.4;
    text-align: left;
    font-size: 18px;
    max-width: 400px;
    font-weight: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
  
  }
  .S6 {
    min-height: 120px;
    max-height: 100px;
    line-height: 1.4;
    text-align: left;
    font-size: 18px;
    max-width: 400px;
    font-weight: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
  
  }




  .MT {

      display: flex;
      flex-direction: column; 
      font-size: 80px;
      font-weight: 850;
      color: #1e2a32;
      margin-top: -210px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -40px;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-image: url('../public/images/paleblue.jpg');
      background-size: cover;
      background-position: center;
      padding: 20px; 
    
    
  }
  
  .person1cont {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  
  .person1 {
    display: flex;
    width: 630px;
    height: 450px;
    margin-left: 770px;
    margin-top: -490px;
  }

  .person1txt {
    width: 50%; 
    padding: 50px;
    margin-top: 10px;
    margin-left: 150px;
    max-width: 600px;
  }
  
  .person1txt h3 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -20px;
  }

  .person1txt h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  
  .person1txt p {
    font-size: 17.5px;
    margin-top: 20px;
  }

  .person2cont {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  
  .person2 {
    display: flex;
    width: 590px;
    height: 430px;
    margin-left: 185px;
    margin-top: -430px;
  }

  .person2txt {
    width: 50%; 
    padding: 10px;
    margin-top: 20px;
    margin-left: 820px;
    max-width: 600px;
  }
  
  .person2txt h3 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -20px;
  }
  
  
  .person2txt h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  .person2txt p {
    font-size: 17.5px;
    margin-top: 10px;
    max-width: 500px;
  }

  .TB {

    display: flex;
    flex-direction: column; 
    font-size: 80px;
    font-weight: 850;
    color: #1e2a32;
    margin-top: -210px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -85px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../public/images/paleblue.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px; 
}

.OS {

  display: flex;
  flex-direction: column; 
  font-size: 80px;
  font-weight: 850;
  color: #1e2a32;
  margin-top: -210px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../public/images/paleblue.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px; 


}


.sContainer {
  display: flex;
  justify-content: center; 
  margin-top: 4rem;
}

.box {
  flex: 0 0 auto;
  width: 400px;
  height: 400px;
  margin: 1.5rem; 
  padding: 1.2rem;
  background-color: white;
  border-radius: 5px;
}



.icon {
  margin-left: auto;
  margin-right: auto;
  
}



.box h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: black;
  text-align: center;
  

}

.box p {
  font-size: 1rem;
  color: black;
  text-align: center;

}


